<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">Currency Conversion</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <button class="btn btn-outline-dark">Dark Mode</button>
        </ul>
        <div class="nav navbar-nav navbar-right" *ngIf="isAuthenticated">
          <!-- <ul class="collapse navbar-collapse"> -->
            <li >
              <button class="btn btn-outline-success" type="button" (click)="onLogout()">Logout</button>
            </li>
        </div>
      </div>
    </div>
  </nav>