<div><h3>User Details</h3></div>
<hr>
<div class="btn-group" role="button group" aria-label="Button group">
  <button class="btn btn-primary" (click) = "addUser()">Click to add new user</button>
  <button class="btn btn-primary" (click) = "updateUser()">Click to Update Avatar of User</button>
  <button class="btn btn-primary" (click) = "deleteUser()">Click to Delete User</button>
</div>
<div class="row">
  <div *ngFor="let u of user">
    <div>
      <div>
        <img [src]="u.avatar" alt="Avatar">
        <div>
          <h5> {{u.id}} {{u.first_name}} {{u.last_name}} {{u.id}}</h5>
          <p><small>{{u.email}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
