<h1>Hello world, welcome to the workspace</h1>
<div>
  <h2>Favorite Movie: {{favoriteMovieName}}</h2>
</div>
<div>
  <h2>Employee Details</h2>
  <div>
   <ul class="list-group">
     <li class="list-group-item"><b>ID:</b> {{employee.id}} </li>
     <li class="list-group-item"><b>Name: </b>{{employee.name}} </li>
     <li class="list-group-item"><b>Salary:</b> {{employee.salary | currency: 'INR'}} </li>
     <li class="list-group-item" *ngIf="employee.permanent"><b>Permanent:</b> Yes </li>
     <li class="list-group-item" *ngFor="let department of employee.departments"><b>Department</b> Id: {{department.departmentId}} | Department Name: {{department.departmentName}} </li>
     <li class="list-group-item"><b>Skills</b> </li>
     <table class="table">
       <thead>
         <tr>
           <th scope="col">Skill Id</th>
           <th scope="col">Skill Name</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let skill of employee.skills">
           <th scope="row">{{skill.skillId}}</th>
           <td> {{skill.skillName}}</td>
         </tr>
       </tbody>
     </table>
     <li class="list-group-item"><b>Date of Birth:</b> {{employee.dateOfBirth | date:'MMM d, y'}}</li>
   </ul>
  </div>
</div>
