<h1>Hello world, welcome to the workspace</h1>
<div>
  <h2>Favorite Movie: {{favoriteMovieName}}</h2>
</div>
<div>
  <h2>Employee Details</h2>
  <div>
   <ul class="list-group">
     <li class="list-group-item"><b>ID:</b> {{id}} </li>
     <li class="list-group-item"><b>Name: </b>{{name}} </li>
     <li class="list-group-item"><b>Salary:</b> {{salary | currency: 'INR'}} </li>
     <li class="list-group-item" *ngIf="permanent"><b>Permanent:</b> Yes </li>
     <li class="list-group-item"><b>Department Id:</b> {{departmentId}} </li>
     <li class="list-group-item"><b>Department Name:</b> {{departmentName}} </li>
     <li class="list-group-item"><b>Skills</b> </li>
     <table class="table">
       <thead>
         <tr>
           <th scope="col">Skill Id</th>
           <th scope="col">Skill Name</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let skill of skills; index as skillIndex;">
           <th scope="row">{{skillIndex + 1}}</th>
           <td> {{skill}}</td>
         </tr>
       </tbody>
     </table>
     <li class="list-group-item"><b>Date of Birth:</b> {{dateOfBirth | date:'MMM d, y'}}</li>
   </ul>
  </div>
</div>
