<div>
  <h3>Edit Employee</h3>
</div>
<form [formGroup]="empForm" (ngSubmit)=onSubmit(empForm.value)>
  <div class="form-group" >
      Name: <input type="text" formControlName="name" id ="name" required>
      <div *ngIf = "!empForm.get('name')?.valid && empForm.get('name')?.dirty">
          Please have a look on your name
      </div>
  </div>
  <div class="form-group">
    <h3>Department</h3>
    <select formControlName="departments">
      <option *ngFor="let dept of employee.departments"
        [ngValue] = "dept.departmentId"
        [selected] = "dept.departmentId == 1"
      > {{ dept.departmentName }}</option>
    </select>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!empForm.valid">Submit</button>
</form>

